<%layout('layouts/boilerplate')%>

    <div class="container">
        <div>
            <h1>Gallery</h1>
        </div>

        <div class="gallery">
            <% for (var i = 0; i < imageArray.length; i++) { %>
            <div class="gallery-item">
                <% if (imageArray[i].title !== null) { %>
                    <h2><%= imageArray[i].title %></h2>
                <% } %>

                <% if (imageArray[i].content !== null) { %>
                    <p><%= imageArray[i].content %></p>
                <% } %>

                <img src="<%= imageArray[i].imageUrl %>" alt="Gallery image <%= i %>">
            </div>
            <% } %>
        </div>
    </div>