<% layout('layouts/boilerplate') %>

<div class="content-item">
    <div class="box">Title</div>
    <div class="box">Description</div>
    <div class="box">IMAGE</div>
</div>

<div class="content-item">
    <div>Title</div>
    <div>Description</div>
    <div>IMAGE</div>
</div>

<div class="content-item">
    <div>Title</div>
    <div>Description</div>
    <div>IMAGE</div>
</div>