<nav class="navbar">
    <h2>
        <a href="/">Advancing Film</a>
    </h2>
    <ul>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>
<button id="burger-btn" class="burger">☰</button>

<script src="/public/js/navbar-toggle.js"></script>