.gallery {
  display: grid;
  grid-template-columns: 1fr; // One column
  grid-gap: 50px;
  padding: 100px;
  justify-items: center; // Horizontal
  align-items: center; // Vertical
}

.gallery img {
  width: 100%;
  max-width: 100vh;
  height: auto;
}